<a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts">
  <img src="http://cache.wine.com/images/logos/80x80_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a>
  <br/>
Name: <%= @wine.name %>
</br>
Min price: <%= @wine.price_min %>
</br>

Max price: <%= @wine.price_max %>
</br>

Retail price: <%= @wine.price_retail %>
</br>

Type: <%= @wine.kind %>
</br>

<a href='<%= @wine.url %>'>Link</a>
</br>
</br><hr/>
<a href="<%= wines_url %> ">Index</a> <a href="<%= edit_wine_url(@wine)%>">Edit</a>
