<%= @wine.name %>
</br>
<%= @wine.price_min %>
</br>

<%= @wine.price_max %>
</br>

<%= @wine.price_retail %>
</br>

<%= @wine.type %>
</br>

<%= @wine.url %>
</br>
<%= @wine.description %>
</bi></hr>
<a href="<%= wines_url %> ">Index</a> <a href="<%= edit_wine_url(@wine)%>">Edit</a>
